.supporter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.image {
  align-items: center;
  justify-content: center;
  display: block;
  position: relative;
  width: 6.8125rem;
  height: 6.8125rem;
}

@media screen and (min-width: 1024px) {
  .image {
    height: 9.375rem;
    width: 9.375rem;
  }
}
