.container {
  display: flex;
  height: 5rem;
  background-color: white;
}
.container h1 {
  font-weight: 400;
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
  word-spacing: 120%;
  color: var(--brand-color-purple);
  position: relative;
}
.container.highlight h1 {
  font-weight: 700;
}

.container.highlight h1::after {
  position: absolute;
  content: '';

  width: 0.5rem;
  height: 0.5rem;

  clip-path: circle();

  background-color: var(--brand-color-yellow);

  align-self: center;
  justify-self: center;
  top: calc(50% - 0.25rem);
}

.container.highlight h1::after {
  left: -1rem;
}
