.container {
  display: flex;
  height: 5rem;
  background-color: var(--brand-color-light-purple);
}
.container h1 {
  font-weight: 400;
  font-family: 'poppins', sans-serif;
  font-size: 1.25rem;
  word-spacing: 120%;
  color: var(--brand-color-white);
}
