.container {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 3rem 0;

  background-color: var(--background-color-purple);
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;

  text-align: center;

  width: 14.0625rem;

  color: var(--brand-color-purple);

  margin-bottom: 2rem;
}

.content {
  display: grid;
  grid-template-columns: 6.8125rem 6.8125rem;
  grid-template-rows: 6.8125rem 6.8125rem;

  gap: 3.4375rem;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 4rem 0;
    justify-content: center;
  }

  .title {
    font-size: 2.75rem;
    line-height: 3rem;

    width: auto;

    margin-bottom: 4rem;
  }

  .content {
    grid-template-columns: 9.375rem 9.375rem 9.375rem 9.375rem;
    grid-template-rows: 6.8125rem;

    gap: 3rem;
  }
}
