.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8rem 0 3rem 0;

  background-color: var(--background-color-purple);
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;

  text-align: center;
  width: 19.5rem;

  color: var(--brand-color-purple);

  margin-bottom: 2rem;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;

  color: var(--text-color-gray);

  text-align: center;
  width: 19rem;

  margin-bottom: 2rem;
}

.paragraph span {
  font-weight: 700;
  color: var(--brand-color-purple);
}

.video {
  height: 174px;
  width: 310px;
  background-color: #121214;
  margin-bottom: 2rem;
}

.web {
  display: none;
}

.btn {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 19.5rem;
  height: 2.5rem;

  background-color: var(--brand-color-purple);

  border-radius: 10px;

  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);

  transition: 0.2s;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;

  color: var(--brand-color-white);
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 9rem 0 4rem 0;
  }

  .title {
    font-size: 2.75rem;
    line-height: 3rem;

    width: 60rem;

    margin-bottom: 1.5rem;
  }

  .paragraph {
    font-size: 1rem;
    line-height: 1.5rem;

    width: 45rem;

    margin-bottom: 2rem;
  }

  .video {
    height: 430px;
    width: 765px;
  }

  .web {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .paragraph {
    font-size: 1.25rem;
    line-height: 1.75rem;
    width: 55rem;
  }
}
