.container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 70vh;
  min-height: 26.75rem;
  width: 100%;
  min-width: 22.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.swiper {
  cursor: grab;
}
.title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--brand-color-purple);
  margin-bottom: 0;
  padding: 0 1.5rem;
  font-size: 1.5em;
  line-height: 1.75rem;
}
.pin {
  position: absolute;
  top: -5rem;
  left: 0;
}

@media screen and (min-width: 768px) {
  .container {
    min-height: 34.5rem;
  }
  .title {
    font-size: 2em;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: calc(100vh - 5rem);
    min-height: 496px;
    max-height: 688px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    height: 700px;
    min-height: auto;
    max-height: none;
  }
  .tablet {
    display: none;
  }
  .web-large {
    display: inherit;
  }
}

@media screen and (min-width: 1500px) {
  .web-large {
    display: none;
  }
  .web-x-large {
    display: inherit;
  }
}
