.container {
  display: flex;

  position: relative;

  align-items: center;
  justify-content: center;

  overflow: hidden;

  width: 9.3125rem;
  height: 2.5rem;

  background-color: var(--brand-color-red);

  border-radius: 10px;
}

.standart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.alt {
  align-items: center;
  justify-content: center;
}

.standart,
.alt {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.alt a {
  display: flex;
  height: 2.5rem;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.slider {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  width: 200%;
  transition: 0.2s;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: white;

  color: var(--brand-color-white);

  transition: 0.2s;
}

.container:hover > .slider {
  right: -100%;
}

.alt a:hover {
  background-color: #dd6666;
}

.alt a:hover > .text {
  transform: scale(1.1);
}
