/*================ HTML RESET ================*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
/*================ GLOBAL VARIABLES ================*/
:root {
  --brand-color-yellow: #ffca5e;
  --brand-color-purple: #5d4989;
  --brand-color-white: #ffffff;
  --brand-color-red: #d35555;
  --brand-color-light-purple: #8c75b9;
  --brand-color-extra-light-purple: #bda4ec;
  --brand-color-black: #1e1e1e;
  --background-color-purple: #faf5ff;
  --background-color-red: #ffe6f0;
  --text-color-gray: #474747;
}
/*================ GLOBAL ================*/
.web-content {
  display: none;
}
.mobile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tablet {
  display: none;
}
/*================ HEADER ================*/
.webnavigation-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-menu-badge {
  display: none;
  position: absolute;
  bottom: -0.5rem;
  height: 0.35rem;
  width: 0.35rem;
  clip-path: circle();
  background-color: var(--brand-color-yellow);
}
.webnavigation-item .visible {
  display: inherit;
}
/*================ EFECTS ================*/
.navigation_web h1 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--brand-color-white);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.navigation_web h1:hover {
  color: var(--brand-color-extra-light-purple);
  transform: scale(1.05);
}
#menu_item1 {
  z-index: 8;
}
#menu_item2 {
  z-index: 7;
}
#menu_item3 {
  z-index: 6;
}
#menu_item4 {
  z-index: 5;
}
#menu_item5 {
  z-index: 4;
}
#menu_item6 {
  z-index: 3;
}
#menu_item7 {
  z-index: 2;
}
.header_menu ul li h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  color: var(--brand-color-white);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.header_menu ul li h1:hover {
  color: var(--brand-color-extra-light-purple);
}
/*================ HEADER MENU ================*/
.header_menu ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.navigation_1 {
  display: flex;
  height: 5rem;
  background-color: var(--brand-color-purple);
}
.navigation_1 h1 {
  font-weight: 500;
}
.navigation_2 {
  display: flex;
  height: 3.25rem;
  background-color: var(--brand-color-light-purple);
}
.navigation_2 h1 {
  font-weight: 300;
}
#como-encontrar,
#depoimentos,
#apoiadores {
  position: absolute;
  top: -5rem;
  left: 0;
}
/*============================================== MEDIA QUERIES */
/*============================================== CELPHONE */
@media screen and (min-width: 1px) {
  /*================ SECTIONS ================*/
  .section {
    position: relative;
    align-items: center;
    padding: 0 1.5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 22.5rem;
    min-height: 645px;
  }
  .section_half {
    position: relative;
    padding: 0 1.5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    height: 50vh;
    min-width: 22.5rem;
    min-height: 370px;
  }
  .section_content {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    min-height: 16.125rem;
  }
  .section_content_half {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: calc(50vh - 7.75rem);
  }
  .section_content p {
    font-size: 1.375em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-color-gray);
    text-align: center;
    margin: 0 1.5rem;
  }
  h1.section_title {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--brand-color-purple);
    text-align: center;
    line-height: 1.75rem;
    margin-bottom: 3rem;
    padding: 0 1.5rem;
  }
  /*================ BG COLORS ================*/
  #inicio,
  #depoimentos-section {
    background-color: var(--background-color-purple);
  }
  #como-encontrar-section,
  #apoiadores-section {
    background-color: var(--brand-color-white);
  }
  #clientes-section {
    background-color: var(--background-color-red);
  }
  /*================ INICIO ================*/
  #inicio .section_content .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1.5rem;
    width: 50%;
  }
  #inicio h1.section_title {
    margin-bottom: 2rem;
  }
  #inicio .section_content .img {
    display: block;
    position: relative;
    width: 50%;
    height: auto;
  }
  #inicio .section_content {
    height: calc(100vh - 21rem);
    min-height: 309px;
    width: 100%;
  }
  #inicio #download-buttons-mobile .img,
  #inicio #download-buttons-web .img {
    position: relative;
    height: auto;
    min-height: 0;
  }
  #inicio p {
    font-size: 1.125em;
    text-align: start;
    margin-right: 2.25rem;
    margin: 0 0;
    max-width: 16.25rem;
  }
  #inicio h1 {
    max-width: 28.125rem;
  }
  #inicio {
    padding-top: 6.5rem;
    align-items: center;
  }
  #download-buttons-mobile .img {
    width: 8.75rem;
  }
  #download-buttons-mobile {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  /*================ COMO ENCONTRAR ================*/
  #como-encontrar-section {
    overflow: hidden;
    height: calc(100vh - 5rem);
    padding-top: 1.5rem;
  }
  #como-encontrar-section h1.section_title {
    margin-bottom: 0;
    width: 20rem;
  }
  #como-encontrar-section p {
    width: calc(100vw - 3rem);
  }
  #como-encontrar-section .section_content {
    height: calc(100vh - 12.5rem);
    flex-direction: column;
  }
  /*================ CLIENTES ================*/

  /*================ DEPOIMENTOS ================*/
  #depoimentos-section .section_title {
    /* margin-bottom: 1.5rem; */
    margin-bottom: 0;
  }
  #depoimentos-section .section_content_half {
    height: 100%;
    cursor: grab;
  }
  #depoimentos-section .testimonial {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 3px 1.5rem;
    height: 11.5rem;
    background-color: var(--brand-color-white);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  #depoimentos-section .testimonial h1 {
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    max-width: calc(100% - 6.625rem);
    color: var(--brand-color-purple);
  }
  #depoimentos-section .testimonial p {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.3rem;
    font-style: italic;
    color: var(--text-color-gray);
    margin: 1rem 0.75rem;
    text-align: left;
  }
  #depoimentos-section .testimony-person {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
  }
  #depoimentos-section .testimonial-image {
    display: block;
    position: relative;
    width: 2.625rem;
    height: 2.625rem;
    background-color: var(--brand-color-white);
    clip-path: circle();
    margin-right: 1rem;
    margin-left: 0.75rem;
  }
  /*================ APOIADORES ================*/
  #apoiadores-section {
    height: 70vh;
    min-height: 33rem;
  }
  #apoiadores-section h1.section_title {
    margin-bottom: 0;
  }
  #apoiadores-section .section_content_half {
    height: 100%;
    gap: 1rem;
  }
  #apoiadores-section .supporter {
    top: 0;
    height: 8rem;
    width: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #apoiadores-section .supporter-image {
    align-items: center;
    justify-content: center;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }
  /*================ INVITE ================*/
  #invite {
    display: flex;
    height: 22.5rem;
    width: 100%;
    background-color: var(--background-color-purple);
    align-items: center;
    justify-content: center;
  }
  #invite p {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: var(--text-color-gray);
    margin: 0 5rem;
    text-align: center;
  }
  /*================ SWIPER: GLOBAL ================*/
  .slide-wrapper {
    display: flex;
    overflow: hidden;
    z-index: 0;
    max-width: 100%;
  }
  .swiper-pagination {
    bottom: 0;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--brand-color-purple) !important;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
  }
  /* ================ SWIPER: CLIENTES ================ */

  /*================ SWIPER: DEPOIMENTOS ================*/
  #depoimentos-section .slide-wrapper {
    height: 14rem;
  }
  #depoimentos-section .swiper-button-next,
  #depoimentos-section .swiper-button-prev {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 1.5rem;
    width: 0.5rem;
  }
  #depoimentos-section .swiper-button-next {
    right: 0;
    background-image: url('/images/swiper-right.svg');
  }
  #depoimentos-section .swiper-button-prev {
    left: 0;
    background-image: url('/images/swiper-left.svg');
  }
  #depoimentos-section .swiper-button-next::after,
  #depoimentos-section .swiper-button-prev::after {
    display: none;
  }
}
/*============================================== TABLET */
@media screen and (min-width: 768px) {
  /*============================================ GLOBAL */
  h1.section_title {
    font-size: 2em;
    line-height: 2rem;
  }
  .section_content p {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  /*============================================ ENABLE TABLET */
  .container {
    padding: 0 4rem;
  }
  .navigation_web {
    display: inline-flex;
    right: 4rem;
  }
  .tablet {
    display: flex;
  }
  /*============================================ DISABLE MOBILE */
  .header_main button {
    display: none;
  }
  .mobile {
    display: none;
  }
  /*============================================ INICIO */
  #inicio {
    padding-top: 8rem;
    min-height: 1024px;
  }
  #inicio p {
    font-size: 1.75em;
    line-height: 2.5rem;
  }
  #inicio .section_content img {
    min-height: 460px;
  }
  #inicio #download-buttons-mobile .img {
    position: relative;
    width: 13.5rem;
    height: auto;
  }
  #inicio .section_content {
    height: calc(100vh - 26rem);
    min-height: 608px;
  }
  /*============================================ COMO ENCONTRAR */
  #como-encontrar-section {
    min-height: 1024px;
  }
  #como-encontrar-section h1.section_title {
    width: auto;
  }
  #como-encontrar-section .section_content {
    min-height: 824px;
  }
  /*============================================ DEPOIMENTOS */
  #depoimentos-section {
    height: 512px;
    min-height: 0;
  }
  #depoimentos-section .testimonial h1 {
    margin-right: 0.5rem;
  }
  #depoimentos-section .swiper-pagination {
    bottom: 0;
  }
  /*============================================ APOIADORES */
  #apoiadores-section {
    height: 400px;
    min-height: 0;
  }
  #apoiadores-section .section_content_half {
    flex-direction: row;
    gap: 2.5rem;
  }
  #apoiadores-section .supporter {
    width: 150px;
    height: 180px;
  }
  #apoiadores-section .supporter-image {
    width: 130px;
    height: auto;
  }
  #apoiadores-section .supporter h1 {
    font-size: 1.25em;
  }
  /*============================================ CONVITE */
  #invite p {
    font-size: 2.5em;
  }
}
/*============================================== WEB MEDIUM */
@media screen and (min-width: 1024px) {
  /*============================================ DISABLE TABLET */
  .mobile-content {
    display: none;
  }
  #depoimentos-section .tablet {
    display: none;
  }
  /*============================================ ENABLE WEB */
  .web-content {
    display: flex;
  }
  /*============================================ HEADER */
  .navigation_web {
    right: 0;
  }
  /*============================================ INÍCIO */
  #inicio {
    height: 100vh;
    min-height: 576px;
    max-height: 768px;
    padding: 0 1.5rem;
    padding-top: 5rem;
  }
  #inicio .section_content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
  #inicio h1.section_title {
    font-size: 3em;
    line-height: 3rem;
    text-align: start;
    padding: 0 0;
    width: 28rem;
    max-width: none;
    margin-bottom: 1rem;
  }
  #inicio p {
    font-size: 16px;
    line-height: 24px;
    width: 18rem;
    max-width: none;
  }
  #inicio .section_content .text {
    margin-left: 0;
    margin-right: 0;
    gap: 4rem;
    width: auto;
  }
  #inicio #download-buttons-web .img {
    width: 9rem;
    height: auto;
  }
  #download-buttons-web {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  #inicio .section_content .img {
    width: 11.5rem;
    height: auto;
    min-height: auto;
  }
  #inicio .web-content {
    height: 100%;
  }
  #inicio .left-column,
  #inicio .right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    height: 100%;
    z-index: 0;
  }
  #inicio .left-column {
    margin-right: 6rem;
  }
  /*============================================ COMO ENCONTRAR */
  #como-encontrar-section {
    height: calc(100vh - 5rem);
    min-height: 496px;
    max-height: 688px;
    padding: 0 0;
  }
  #como-encontrar-section .section_content {
    height: calc(100% - 4rem);
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #como-encontrar-section .web-content {
    height: 100%;
    align-items: center;
  }

  #como-encontrar-section p {
    text-align: end;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0;
    width: 24rem;
  }
  #como-encontrar-section h1 {
    font-size: 3em;
    line-height: 3rem;
    text-align: end;
    padding: 0 0;
    width: 25rem;
  }
  #como-encontrar-section .left-column,
  #como-encontrar-section .right-column {
    position: relative;
    z-index: 0;
  }
  #como-encontrar-section .right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 28rem;
    width: 24rem;
    gap: 2rem;
  }
  /*============================================== CUSTOMERS */

  /*============================================== DEPOIMENTOS */
  #depoimentos-section {
    height: 425px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  #depoimentos-section .testimonial-image {
    width: 3.625rem;
    height: 3.625rem;
  }
  #depoimentos-section .slide-wrapper {
    width: 90%;
  }
  #depoimentos-section .swiper {
    padding: 0 0.4rem;
  }
  #depoimentos-section .swiper-pagination {
    bottom: 0;
  }
  #depoimentos-section .testimonial {
    margin: 3px 0.75rem;
  }
  #depoimentos-section .swiper-button-next {
    right: 0rem;
  }
  #depoimentos-section .swiper-button-prev {
    left: 0rem;
  }
}
/*============================================== WEB LARGE */
@media screen and (min-width: 1280px) {
  /*============================================ INÍCIO */
  #inicio {
    height: 100vh;
    min-height: 720px;
    max-height: 1024px;
    padding: 3rem 1.5rem;
    padding-top: 8rem;
  }
  #inicio h1.section_title {
    font-size: 3.75em;
    line-height: 3.75rem;
    padding: 0 0;
    width: 35rem;
    margin-bottom: 1.25rem;
  }
  #inicio p {
    font-size: 20px;
    line-height: 30px;
    width: 28rem;
  }
  #inicio .section_content .text {
    gap: 2rem;
  }
  #inicio #download-buttons-web img {
    width: 9rem;
  }
  #download-buttons-web {
    margin-top: 1.25rem;
    gap: 1.875rem;
  }
  #inicio .section_content .img {
    width: 14rem;
  }
  /*============================================ COMO ENCONTRAR */
  #como-encontrar-section {
    height: calc(100vh - 5rem);
    min-height: 640px;
    max-height: 944px;
  }
  #como-encontrar-section .section_content {
    height: calc(100% - 5rem);
  }
  #como-encontrar-section p {
    font-size: 20px;
    line-height: 30px;
    width: 30rem;
  }
  #como-encontrar-section h1 {
    font-size: 3.75em;
    line-height: 3.75rem;
    width: 31.25rem;
  }
  #como-encontrar-section .right-column {
    height: 35rem;
    width: 30rem;
    gap: 2.5rem;
  }
}
