/* HTML RESET */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
/* GLOBAL VARIABLES */
:root {
  --brand-color-yellow: #ffca5e;
  --brand-color-purple: #5d4989;
  --brand-color-white: #ffffff;
  --brand-color-red: #d35555;
  --brand-color-light-purple: #8c75b9;
  --brand-color-extra-light-purple: #bda4ec;
  --brand-color-black: #1e1e1e;
  --background-color-purple: #faf5ff;
  --background-color-red: #ffe6f0;
  --text-color-gray: #474747;
}
/* GLOBAL */
.web-content {
  display: none;
}
.mobile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tablet {
  display: none;
}
/*================ HEADER ================*/
.webnavigation-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-menu-badge {
  display: none;
  position: absolute;
  bottom: -0.5rem;
  height: 0.35rem;
  width: 0.35rem;
  clip-path: circle();
  background-color: var(--brand-color-yellow);
}
.webnavigation-item .visible {
  display: inherit;
}
/*================ EFECTS ================*/
.navigation_web h1 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--brand-color-white);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.navigation_web h1:hover {
  color: var(--brand-color-extra-light-purple);
  transform: scale(1.05);
}
#menu_item1 {
  z-index: 8;
}
#menu_item2 {
  z-index: 7;
}
#menu_item3 {
  z-index: 6;
}
#menu_item4 {
  z-index: 5;
}
#menu_item5 {
  z-index: 4;
}
#menu_item6 {
  z-index: 3;
}
#menu_item7 {
  z-index: 2;
}
.header_menu ul li h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  color: var(--brand-color-white);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.header_menu ul li h1:hover {
  color: var(--brand-color-extra-light-purple);
}
/*================ HEADER MENU ================*/
.header_menu ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.navigation_1 {
  display: flex;
  height: 5rem;
  background-color: var(--brand-color-purple);
}
.navigation_1 h1 {
  font-weight: 500;
}
.navigation_2 {
  display: flex;
  height: 3.25rem;
  background-color: var(--brand-color-light-purple);
}
.navigation_2 h1 {
  font-weight: 300;
}

/* PINS */
#como-encontrar,
#depoimentos,
#apoiadores {
  position: absolute;
  top: -5rem;
  left: 0;
}
/*============================================== MEDIA QUERIES */
/*============================================== CELPHONE */
@media screen and (min-width: 1px) {
  /*================ SECTIONS ================*/
  .section {
    position: relative;
    align-items: center;
    padding: 0 1.5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 22.5rem;
    min-height: 645px;
  }
  .section_half {
    position: relative;
    padding: 0 1.5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    height: 50vh;
    min-width: 22.5rem;
    min-height: 370px;
  }
  .section_content {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    min-height: 16.125rem;
  }
  .section_content_half {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: calc(50vh - 7.75rem);
  }
  .section_content p {
    font-size: 1.375em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-color-gray);
    text-align: center;
    margin: 0 1.5rem;
  }
  h1.section_title {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--brand-color-purple);
    text-align: center;
    line-height: 1.75rem;
    margin-bottom: 3rem;
    padding: 0 1.5rem;
  }
  /*================ BG COLORS ================*/

  #como-encontrar-section,
  #apoiadores-section {
    background-color: var(--brand-color-white);
  }
  #clientes-section {
    background-color: var(--background-color-red);
  }
  /*================ DEPOIMENTOS ================*/

  /*================ APOIADORES ================*/
  #apoiadores-section {
    height: 70vh;
    min-height: 33rem;
  }
  #apoiadores-section h1.section_title {
    margin-bottom: 0;
  }
  #apoiadores-section .section_content_half {
    height: 100%;
    gap: 1rem;
  }
  /*================ SWIPER ================*/
  .slide-wrapper {
    display: flex;
    overflow: hidden;
    z-index: 0;
    max-width: 100%;
  }
  .swiper-pagination {
    bottom: 0;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--brand-color-purple) !important;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
  }
  /*================ SWIPER: DEPOIMENTOS ================*/
}
/*============================================== TABLET */
@media screen and (min-width: 768px) {
  /*============================================ GLOBAL */
  h1.section_title {
    font-size: 2em;
    line-height: 2rem;
  }
  .section_content p {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  /*============================================ ENABLE TABLET */
  .container {
    padding: 0 4rem;
  }
  .navigation_web {
    display: inline-flex;
    right: 4rem;
  }
  .tablet {
    display: flex;
  }
  .header_main button {
    display: none;
  }
  .mobile {
    display: none;
  }
  #apoiadores-section {
    height: 400px;
    min-height: 0;
  }
  #apoiadores-section .section_content_half {
    flex-direction: row;
    gap: 2.5rem;
  }
  #apoiadores-section .supporter h1 {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-content {
    display: none;
  }
  .web-content {
    display: flex;
  }
  .navigation_web {
    right: 0;
  }
}
