/* HTML RESET */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
/*VARIABLES */
:root {
  --brand-color-yellow: #ffca5e;
  --brand-color-purple: #5d4989;
  --brand-color-white: #ffffff;
  --brand-color-red: #d35555;
  --brand-color-light-purple: #8c75b9;
  --brand-color-extra-light-purple: #bda4ec;
  --brand-color-black: #1e1e1e;
  --background-color-purple: #faf5ff;
  --background-color-red: #ffe6f0;
  --text-color-gray: #474747;
  --text-color-light-gray: #909090;
}
