#depoimentos-section .swiper-button-next,
#depoimentos-section .swiper-button-prev {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 1.5rem;
  width: 0.5rem;
}
#depoimentos-section .swiper-button-next {
  right: 0;
  background-image: url('/images/icons/right-arrow.svg');
}
#depoimentos-section .swiper-button-prev {
  left: 0;
  background-image: url('/images/icons/left-arrow.svg');
}
#depoimentos-section .swiper-button-next::after,
#depoimentos-section .swiper-button-prev::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  #depoimentos-section .swiper {
    padding: 0 0.4rem;
  }
  #depoimentos-section .swiper-pagination {
    bottom: 0;
  }
  #depoimentos-section .swiper-button-next {
    right: 0rem;
  }
  #depoimentos-section .swiper-button-prev {
    left: 0rem;
  }
}
