#como-econtrar-section .slide-wrapper {
  max-width: 100vw;
}
#como-encontrar-section .swiper-slide {
  height: auto;
  width: calc((100vh - 25rem) / 2);
}
#como-encontrar-section .swiper-pagination {
  bottom: 0rem !important;
}
#como-encontrar-section .swiper-slide-shadow-left,
#como-encontrar-section .swiper-slide-shadow-right {
  background-image: none;
}
@media screen and (min-width: 768px) {
  #como-encontrar-section .swiper-slide {
    width: calc((100vh - 30rem) / 2);
  }
  #como-encontrar-section .swiper-button-next,
  #como-encontrar-section .swiper-button-prev {
    display: none;
  }
  #como-encontrar-section .swiper-button-next::after,
  #como-encontrar-section .swiper-button-prev::after {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #como-encontrar-section .swiper-slide {
    width: 14.125rem;
  }
  #como-encontrar-section .swiper {
    position: initial;
  }
  #como-encontrar-section .swiper-button-next,
  #como-encontrar-section .swiper-button-prev {
    display: flex;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 1.5rem;
    width: 0.5rem;
  }
  #como-encontrar-section .swiper-button-next {
    right: 0;
    background-image: url('/images/icons/right-arrow.svg');
  }
  #como-encontrar-section .swiper-button-prev {
    left: 0;
    background-image: url('/images/icons/left-arrow.svg');
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  #como-encontrar-section .swiper-slide {
    width: 17.5rem;
  }
  #como-encontrar-section .swiper-button-next,
  #como-encontrar-section .swiper-button-prev {
    height: 1.5rem;
    width: 0.5rem;
  }
}
