#na-midia-section .swiper-button-next,
#na-midia-section .swiper-button-prev {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 1.5rem;
  width: 0.5rem;
}
#na-midia-section .swiper-button-next {
  right: 1.5rem;
  background-image: url('/images/icons/right-arrow.svg');
}
#na-midia-section .swiper-button-prev {
  left: 1.5rem;
  background-image: url('/images/icons/left-arrow.svg');
}
#na-midia-section .swiper-button-next::after,
#na-midia-section .swiper-button-prev::after {
  display: none;
}
#na-midia-section .swiper-pagination {
  bottom: -4px;
}
