.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  text-align: justify;
  line-height: 1.5rem;
}

.container div {
  max-width: 600px;
  padding-inline: 2rem;
  padding-top: 9rem;
  padding-bottom: 5rem;
}

.container h1 {
  text-align: center;
  color: var(--brand-color-black);

  margin-bottom: 2.5rem;
}

.container h2 {
  color: var(--brand-color-black);
  font-size: 1.3em;

  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.container h3 {
  color: var(--brand-color-black);
  font-size: 1.15em;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container p {
  color: var(--text-color-gray);

  margin-bottom: 0.75rem;
}

.container li {
  color: var(--text-color-gray);
  margin-left: 3rem;

  margin-bottom: 0.75rem;
}

.container ul {
  margin-bottom: 2rem;
}

.container ol {
  margin-bottom: 2rem;
}

.container ul li {
  list-style-type: disc;
}

.container b {
  color: var(--brand-color-black);
}

.container .companyInfo {
  padding: 1rem 0;
}

.companyInfo p {
  margin-bottom: 0rem;
}
