.pin {
  position: absolute;
  top: -5rem;
  left: 0;
}
.tablet {
  display: none;
}
.sectionTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 700;

  line-height: 1.75rem;

  color: var(--brand-color-purple);

  text-align: center;

  padding: 0 1.5rem;
  margin-bottom: 0;
}
.sectionContentHalf {
  height: 100%;
  cursor: grab;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.slideWrapper {
  height: 14rem;
  display: flex;
  overflow: hidden;
  z-index: 0;
  max-width: 100%;
}
.container {
  background-color: var(--background-color-purple);
  position: relative;
  padding: 3rem 1.5rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 50vh;
  min-width: 22.5rem;
  min-height: 370px;
}

@media screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 2em;

    line-height: 2rem;
  }
  .container {
    height: 512px;
    min-height: auto;
  }
  .mobile {
    display: none;
  }
  .tablet {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .tablet {
    display: none;
  }
  .webLarge {
    display: flex;
  }
  .container {
    height: 425px;
    padding-left: 0;
    padding-right: 0;
  }
  .slideWrapper {
    width: 90%;
    max-width: none;
  }
}
