.wrapper {
  z-index: 1;
  width: 100%;
  min-width: 22.5rem;
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: var(--brand-color-purple);
}
.container {
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.logo {
  width: 11rem;
  height: auto;
  cursor: pointer;
  transition: 0.2s;
}
.menuButton {
  cursor: pointer;
  border: none;
  width: 1.25rem;
  height: auto;
  background-color: var(--brand-color-purple);
}
.navigationWeb {
  display: none;
  gap: 5rem;
}
.navigationWeb h1 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--brand-color-white);
  cursor: pointer;
  position: relative;
}
.navigationMobile {
  z-index: 1;
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: 5rem;
  background-color: var(--brand-color-purple);
}
.headerMenu {
  display: flex;
  width: 100%;
}
.headerMenu ul {
  width: 100%;
}
.headerMenu ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.headerMenu ul h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  color: var(--brand-color-white);
}

/* EFECTS */
.navigationWeb h1,
.logo {
  transition: 0.2s;
}
.logo:hover,
.navigationWeb h1:hover {
  opacity: 0.7;
}
.navigationWeb h1:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }
  .menuButton {
    display: none;
  }
  .navigationWeb {
    display: inline-flex;
  }
}
@media screen and (min-width: 1024px) {
  .navigationWeb {
    right: 0;
  }
  .container {
    padding-left: 8rem;
    padding-right: 12rem;
  }
}
