.wrapper {
  z-index: 2;
  width: 100vw;
  height: 5rem;
  display: flex;
  position: fixed;
  align-items: center;
  background-color: var(--brand-color-purple);
}
.container {
  padding: 0 1.5rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.logo {
  width: 11rem;
  height: auto;
  cursor: pointer;
  transition: 0.2s;
}
.menuButton {
  cursor: pointer;
  border: none;
  width: 1.25rem;
  height: auto;
  background-color: var(--brand-color-purple);
}
.menuDownloadButton {
  width: 9.3125rem;
  height: 2.5rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-color-red);
  gap: 0.5rem;
  border-radius: 10px;
}

.navigationWeb {
  display: none;
}

.navigationMobile {
  z-index: 2;
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: 5rem;
  background-color: var(--brand-color-purple);
}
.headerMenu {
  display: flex;
  width: 100%;
}
.headerMenu ul {
  width: 100%;
}
.headerMenu ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
/* EFECTS */
.navigationWeb h1,
.logo,
.menuDownloadButton {
  transition: 0.2s;
}
.logo:hover,
.navigationWeb h1:hover {
  opacity: 0.7;
}

.menuDownloadButton:hover {
  background-color: #dd6666;
}
.navigationWeb h1:hover,
.menuDownloadButton:hover {
  transform: scale(1.05);
}
.navigationMobile {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 1024px) {
  .navigationWeb h1 {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--brand-color-white);
    cursor: pointer;
    position: relative;
  }
  .container {
    justify-content: space-between;
    padding: 0 2.5rem;
  }
  .menuButton {
    display: none;
  }
  .left {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .navigationWeb {
    display: inline-flex;
    margin: 0;
    gap: 1.5rem;
  }
  .downloadButtonText {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
  }
  .menuDownloadButton {
    display: flex;
  }
}
