.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brand-color-purple);
  padding: 3rem 3rem 3.5rem 3rem;
  min-width: 22.5rem;
}
.footerItems {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 4rem;
  gap: 2rem;
}
.footer p,
.footer p a {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95em;
  font-weight: 400;
  color: var(--brand-color-white);
  margin-bottom: 1.225rem;
}
.footer a {
  cursor: pointer;
}
.footer .quebarbada svg {
  height: 3rem;
  width: auto;
  margin-bottom: 3rem;
}
.footer .socialMedia {
  display: flex;
  flex-direction: column;
}
.footer .socialMediaImages {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer .socialMediaImages svg {
  width: 2.25rem;
  height: auto;
}

/* effects */
.footer a,
.footer p a {
  transition: 0.2s;
}
.footer a:hover {
  opacity: 0.6;
}
.socialMedia a:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 0 6rem;
  }
  .footerItems {
    width: 100%;
    max-width: 1080px;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-content: space-between;
    justify-items: start;
    align-items: start;
    padding-bottom: 3rem;
    gap: 2rem;

    margin-right: 0;
  }
  .socialMedia {
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .quebarbada p,
  .socialMedia p,
  .developer p {
    margin-bottom: 0.5rem;
  }
  .footer .quebarbada {
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer .quebarbada svg {
    margin-bottom: 1.75rem;
  }
  .footer .developer {
    display: flex;
    flex-direction: column;
  }
  .footer .legal,
  .footer .quebarbada {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer .socialMedia,
  .footer .developer {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer .socialMediaImages {
    margin-top: 0.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
