.testimonial {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 3px 1.5rem;
  height: 11.5rem;
  background-color: var(--brand-color-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.testimonyName {
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  max-width: calc(100% - 6.625rem);
  color: var(--brand-color-purple);
}
.testimonyText {
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3rem;
  font-style: italic;
  color: var(--text-color-gray);
  margin: 1rem 0.75rem;
  text-align: left;
}
.testimonialImage {
  display: block;
  position: relative;
  width: 2.625rem;
  height: 2.625rem;
  background-color: var(--brand-color-white);
  clip-path: circle();
  margin-right: 1rem;
  margin-left: 0.75rem;
}
.testimonyPerson {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}
@media screen and (min-width: 768px) {
  .testimonyName {
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .testimonial {
    margin: 3px 0.75rem;
  }
  .testimonialImage {
    width: 3.625rem;
    height: 3.625rem;
  }
}
