/*================ HTML RESET ================*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
/*================ GLOBAL VARIABLES ================*/
:root {
  --brand-color-yellow: #ffca5e;
  --brand-color-purple: #5d4989;
  --brand-color-white: #ffffff;
  --brand-color-red: #d35555;
  --brand-color-light-purple: #8c75b9;
  --brand-color-extra-light-purple: #bda4ec;
  --brand-color-black: #1e1e1e;
  --background-color-purple: #faf5ff;
  --background-color-red: #ffe6f0;
  --text-color-gray: #474747;
}
/*================ GLOBAL ================*/
.box_shadow {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.margin_menu {
  height: 5rem;
}
.container {
  padding: 0 1.5rem;
  min-width: 350px;
}
.tablet {
  display: none;
}
.legal-text-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
/*================ HEADER ================*/
#header_logo {
  position: relative;
  width: 11rem;
  height: auto;
  cursor: pointer;
}
.header_wraper {
  width: 100%;
  position: fixed;
  min-width: 350px;
  z-index: 1;
}
.header-items {
  display: inline-flex;
  position: relative;
  align-items: center;
  width: calc(100vw - 4rem);
  max-width: 1080px;
}
.header_main {
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-color-purple);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  z-index: 9;
}
.header_main .logo {
  height: 2.5rem;
  width: auto;
}
#menu_button {
  position: absolute;
  background-color: var(--brand-color-purple);
  border: none;
  cursor: pointer;
  right: 1.5rem;
  width: 1.25rem;
  height: auto;
}
.navigation_web {
  display: none;
  position: absolute;
  gap: 5rem;
  right: 1.5rem;
}
.mobile-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.web-content {
  display: none;
}
.webnavigation-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-menu-dot {
  display: none;
  position: absolute;
  bottom: -0.5rem;
  height: 0.35rem;
  width: 0.35rem;
  clip-path: circle();
  background-color: var(--brand-color-yellow);
}
.webnavigation-item .visible {
  display: inherit;
}
/*================ EFECTS ================*/
.navigation_web h1 {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--brand-color-white);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.navigation_web h1:hover {
  color: var(--brand-color-extra-light-purple);
  transform: scale(1.05);
}
#menu_item1 {
  z-index: 8;
}
#menu_item2 {
  z-index: 7;
}
#menu_item3 {
  z-index: 6;
}
#menu_item4 {
  z-index: 5;
}
#menu_item5 {
  z-index: 4;
}
#menu_item6 {
  z-index: 3;
}
#menu_item7 {
  z-index: 2;
}
.header_menu ul li h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  color: var(--brand-color-white);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.header_menu ul li h1:hover {
  color: var(--brand-color-extra-light-purple);
}
/*================ HEADER MENU ================*/
.header_menu ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.navigation_1 {
  display: flex;
  height: 5rem;
  background-color: var(--brand-color-purple);
}
.navigation_1 h1 {
  font-weight: 500;
}
.navigation_2 {
  display: flex;
  height: 3.25rem;
  background-color: var(--brand-color-light-purple);
}
.navigation_2 h1 {
  font-weight: 300;
}
#como-encontrar,
#clientes,
#depoimentos,
#apoiadores {
  position: absolute;
  top: -5rem;
  left: 0;
}
/*============================================== PRIVACY POLITICY */
.privacy-policy {
  justify-items: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
  margin: 0 2rem;
  font-family: 'Roboto', sans-serif;
}
.privacy-policy h1 {
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--brand-color-black);
}
.privacy-policy h2 {
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  margin-top: 2rem;
  color: var(--brand-color-black);
}
.privacy-policy p {
  text-indent: 1.5rem;
  margin-top: 0.75rem;
  width: 100%;
  text-align: justify;
  font-size: 1em;
  line-height: 1.5rem;
  color: var(--text-color-gray);
}
.privacy-policy ul {
  width: 100%;
  margin: 0.5rem 0;
  list-style: disc;
  margin-left: 1rem;
}
.privacy-policy a {
  color: var(--text-color-gray);
  text-decoration: underline;
}
.privacy-policy li {
  color: var(--text-color-gray);
}
.privacy-policy li::marker {
  color: var(--text-color-gray);
}
/*============================================== TERMOS DE USO */
.termos-de-uso-estabelecimento,
.termos-de-uso-usuario {
  justify-items: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
  margin: 0 2rem;
  font-family: 'Roboto', sans-serif;
}
.termos-de-uso-estabelecimento h1,
.termos-de-uso-usuario h1 {
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--brand-color-black);
}
.termos-de-uso-estabelecimento h2,
.termos-de-uso-usuario h2 {
  text-align: start;
  text-indent: 1.5rem;
  width: 100%;
  font-size: 1.25em;
  margin-top: 2rem;
  color: var(--brand-color-black);
}
.termos-de-uso-estabelecimento p,
.termos-de-uso-usuario p {
  text-indent: 1.5rem;
  margin-top: 0.75rem;
  width: 100%;
  text-align: justify;
  font-size: 1em;
  line-height: 1.5rem;
  color: var(--text-color-gray);
}
.termos-de-uso-estabelecimento ul,
.termos-de-uso-usuario ul {
  width: 100%;
  margin: 0.5rem 0;
  list-style: disc;
  margin-left: 1rem;
}
.termos-de-uso-estabelecimento a,
.termos-de-uso-usuario a {
  color: var(--text-color-gray);
  text-decoration: underline;
}
.termos-de-uso-estabelecimento li,
.termos-de-uso-usuario li {
  color: var(--text-color-gray);
}
/*============================================== MEDIA QUERIES */
/*============================================== CELPHONE */
@media screen and (min-width: 1px) {
  /*================ SECTIONS ================*/
  .section {
    position: relative;
    align-items: center;
    padding: 0 1.5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 22.5rem;
    min-height: 645px;
  }
  .section_half {
    position: relative;
    padding: 0 1.5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    height: 50vh;
    min-width: 22.5rem;
    min-height: 282.5px;
  }
  .section_content {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    min-height: 16.125rem;
  }
  .section_content_half {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: calc(50vh - 7.75rem);
  }
  .section_content p {
    font-size: 1.375em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--text-color-gray);
    text-align: center;
    margin: 0 1.5rem;
  }
  .section_content p span {
    font-weight: 500;
  }
  h1.section_title {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--brand-color-purple);
    text-align: center;
    line-height: 1.75rem;
    margin-bottom: 3rem;
    padding: 0 1.5rem;
  }
  /*================ BG COLORS ================*/
  #inicio,
  #depoimentos-section {
    background-color: var(--background-color-purple);
  }
  #como-encontrar-section,
  #apoiadores-section {
    background-color: var(--brand-color-white);
  }
  #clientes-section {
    background-color: var(--background-color-red);
  }
  /*================ INICIO ================*/
  #inicio .section_content .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1.5rem;
  }
  #inicio h1.section_title {
    margin-bottom: 2rem;
  }
  #inicio .section_content img {
    display: flex;
    width: auto;
    height: 45vh;
    min-height: 290px;
  }
  #inicio .section_content {
    height: calc(100vh - 21rem);
    min-height: 309px;
  }
  #inicio #download-buttons-mobile img,
  #inicio #download-buttons-web img {
    min-height: 0;
  }
  #inicio p {
    font-size: 1.125em;
    text-align: start;
    margin-right: 2.25rem;
    margin: 0 0;
    max-width: 16.25rem;
  }
  #inicio h1 {
    max-width: 28.125rem;
  }
  #inicio {
    padding-top: 6.5rem;
    align-items: center;
  }
  #download-buttons-mobile img {
    width: 8.75rem;
    height: auto;
  }
  #download-buttons-mobile {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  /*================ COMO ENCONTRAR ================*/
  #como-encontrar-section {
    overflow: hidden;
    height: calc(100vh - 5rem);
    padding-top: 1.5rem;
  }
  #como-encontrar-section h1.section_title {
    margin-bottom: 0;
    width: 20rem;
  }
  #como-encontrar-section p {
    width: calc(100vw - 3rem);
  }
  #como-encontrar-section .section_content {
    height: calc(100vh - 12.5rem);
    flex-direction: column;
  }
  /*================ CLIENTES ================*/
  #clientes-section {
    height: 70vh;
    width: 100vw;
    padding: 2.5rem 0;
    width: 100%;
  }
  #clientes-section h1 {
    margin-bottom: 0;
  }
  #clientes-section .section_content_half {
    height: calc(100vh - 4.75rem);
  }
  #clientes-section .section_content_half .swiper {
    cursor: grab;
  }
  /*================ DEPOIMENTOS ================*/
  #depoimentos-section .section_title {
    /* margin-bottom: 1.5rem; */
    margin-bottom: 0;
  }
  #depoimentos-section .section_content_half {
    height: calc(50vh - 4.75rem);
    cursor: grab;
  }
  #depoimentos-section .testimonial {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 3px 1.5rem;
    height: 11.5rem;
    background-color: var(--brand-color-white);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  #depoimentos-section .testimonial h1 {
    font-size: 1.125em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--brand-color-purple);
  }
  #depoimentos-section .testimonial p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
    font-style: italic;
    color: var(--text-color-gray);
    margin: 1rem 0.75rem;
    text-align: left;
  }
  #depoimentos-section .testimony-person {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
  }
  #depoimentos-section .testimonial-image {
    display: flex;
    width: 2.625rem;
    height: 2.625rem;
    background-color: var(--brand-color-white);
    clip-path: circle();
    margin-right: 1rem;
    margin-left: 0.75rem;
  }
  /*================ APOIADORES ================*/
  #apoiadores-section {
    height: 70vh;
    min-height: 33rem;
  }
  #apoiadores-section h1.section_title {
    margin-bottom: 0;
  }
  #apoiadores-section .section_content_half {
    height: 100%;
    gap: 1rem;
  }
  #apoiadores-section .sponsor {
    top: 0;
    height: 8rem;
    width: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #apoiadores-section .sponsor-image {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #apoiadores-section .sponsor-image img {
    height: auto;
    width: 100%;
    max-height: 8rem;
  }
  /*================ INVITE ================*/
  #invite {
    display: flex;
    height: 22.5rem;
    width: 100%;
    background-color: var(--background-color-purple);
    align-items: center;
    justify-content: center;
  }
  #invite p {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: var(--text-color-gray);
    margin: 0 5rem;
    text-align: center;
  }
  /*================ FOOTER ================*/
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brand-color-purple);
    padding: 3rem 3rem;
  }
  footer .footer-items {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 4rem;
    gap: 2rem;
  }
  footer .social-media {
    display: flex;
    flex-direction: column;
  }
  footer .social-media-images svg {
    width: 1.75rem;
    height: auto;
  }
  footer p {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color-white);
    margin-bottom: 0.5rem;
  }
  footer a {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color-white);
    margin-bottom: 0.5rem;
  }
  footer .legal p,
  footer a {
    cursor: pointer;
    transition: 0.2s;
  }
  footer .legal p:hover,
  footer a:hover {
    color: var(--brand-color-extra-light-purple);
  }
  footer .quebarbada svg {
    height: 3rem;
    width: auto;
    margin-bottom: 3rem;
    cursor: pointer;
  }
  footer .social-media-images {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
  }
  footer .social-media-images svg {
    transition: 0.2s;
  }
  footer .social-media-images svg:hover {
    transform: scale(1.1);
  }
  /*================ SWIPER: GLOBAL ================*/
  .swiper_wrapper {
    display: flex;
    overflow: hidden;
    z-index: 0;
    max-width: 100%;
  }
  .swiper-pagination {
    bottom: 0;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--brand-color-purple) !important;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
  }
  /* ================ SWIPER: COMO ENCONTRAR ================ */
  #como-encontrar-section img {
    width: auto;
    height: calc(100vh - 25rem);
  }
  #como-encontrar-section .swiper-slide {
    width: auto;
    height: calc(100vh - 25rem);
  }
  #como-encontrar-section .swiper-pagination {
    bottom: 0rem !important;
  }
  #como-encontrar-section .swiper-slide-shadow-left,
  #como-encontrar-section .swiper-slide-shadow-right {
    background-image: none;
  }
  #como-encontrar-section .swiper_wrapper {
    margin-bottom: 2rem;
  }
  /* ================ SWIPER: CLIENTES ================ */
  .customer {
    top: 0;
    width: 100px;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .customer-image {
    display: flex;
    height: 64px;
    width: 64px;
    background-color: var(--brand-color-white);
    margin-bottom: 0.75rem;
    clip-path: circle();
  }
  .customer h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    max-width: 100px;
    color: var(--text-color-gray);
    text-align: center;
  }
  /*================ SWIPER: DEPOIMENTOS ================*/
  #depoimentos-section .swiper_wrapper {
    height: 14rem;
  }
  #depoimentos-section .swiper-button-next,
  #depoimentos-section .swiper-button-prev {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 1.5rem;
    width: 0.5rem;
  }
  #depoimentos-section .swiper-button-next {
    right: 0;
    background-image: url('/images/swiper-right.svg');
  }
  #depoimentos-section .swiper-button-prev {
    left: 0;
    background-image: url('/images/swiper-left.svg');
  }
  #depoimentos-section .swiper-button-next::after,
  #depoimentos-section .swiper-button-prev::after {
    display: none;
  }
  /*================ SEJA PARCEIRO ================*/
  #seja-parceiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  #seja-parceiro h1.title {
    margin-top: 7rem;
    width: 12rem;
  }
  #seja-parceiro h1.contact {
    width: 17rem;
  }
  #seja-parceiro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: var(--brand-color-purple);
    margin-bottom: 3rem;
  }
  #seja-parceiro h2 {
    color: var(--brand-color-light-purple);
    margin-bottom: 3rem;
    font-size: 1em;
  }
  #seja-parceiro p {
    color: var(--text-color-gray);
    font-weight: 700;
    margin-bottom: 3rem;
    line-height: 1.25rem;
    font-size: 1em;
  }
  #seja-parceiro li {
    color: var(--text-color-gray);
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
    font-size: 1em;
  }
  #seja-parceiro ul {
    margin-bottom: 3rem;
  }
  #seja-parceiro .whatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #seja-parceiro .telephone {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    gap: 0.5rem;
  }
  #seja-parceiro span {
    color: #075e54;
    font-weight: 600;
  }
  #seja-parceiro svg {
    width: auto;
    height: 2rem;
  }
  .whatsappbutton {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    height: 3rem;
    width: auto;
  }
  .whatsappbutton svg {
    height: 3rem;
    width: auto;
  }
}
/*============================================== TABLET */
@media screen and (min-width: 768px) {
  /*============================================ GLOBAL */
  h1.section_title {
    font-size: 2em;
    line-height: 2rem;
  }
  .section_content p {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  /*============================================ ENABLE TABLET */
  .container {
    padding: 0 4rem;
  }
  .navigation_web {
    display: inline-flex;
    right: 4rem;
  }
  .tablet {
    display: flex;
  }
  /*============================================ DISABLE MOBILE */
  .header_main button {
    display: none;
  }
  .mobile {
    display: none;
  }
  /*============================================ INICIO */
  #inicio {
    padding-top: 8rem;
    min-height: 1024px;
  }
  #inicio p {
    font-size: 1.75em;
    line-height: 2.5rem;
  }
  #inicio .section_content img {
    min-height: 460px;
  }
  #inicio #download-buttons-mobile img {
    width: 13.5rem;
    height: auto;
  }
  #inicio .section_content {
    height: calc(100vh - 26rem);
    min-height: 608px;
  }
  /*============================================ COMO ENCONTRAR */
  #como-encontrar-section {
    min-height: 1024px;
  }
  #como-encontrar-section h1.section_title {
    width: auto;
  }
  #como-encontrar-section .section_content {
    min-height: 824px;
  }
  #como-encontrar-section .swiper-slide,
  #como-encontrar-section img {
    width: auto;
    height: calc(100vh - 30rem);
    min-height: 544px;
  }
  /*============================================ CLIENTES */
  .customer {
    width: 150px;
    height: 220px;
    justify-content: center;
  }
  .customer-image {
    width: 96px;
    height: 96px;
  }
  .customer h1 {
    font-size: 1.25em;
  }
  /*============================================ DEPOIMENTOS */
  #depoimentos-section {
    height: 512px;
    min-height: 0;
  }
  #depoimentos-section .testimonial h1 {
    margin-right: 0.5rem;
  }
  #depoimentos-section .swiper-pagination {
    bottom: 0;
  }
  /*============================================ APOIADORES */
  #apoiadores-section {
    height: 400px;
    min-height: 0;
  }
  #apoiadores-section .section_content_half {
    flex-direction: row;
    gap: 2.5rem;
  }
  #apoiadores-section .sponsor {
    width: 150px;
    height: 180px;
  }
  #apoiadores-section .sponsor-image {
    width: 130px;
    height: 130px;
  }
  #apoiadores-section .sponsor h1 {
    font-size: 1.25em;
  }
  /*============================================ CONVITE */
  #invite p {
    font-size: 2.5em;
  }
  /*============================================ FOOTER */
  footer {
    padding: 0 6rem;
  }
  footer .footer-items {
    width: 100%;
    max-width: 1080px;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
    justify-items: start;
    align-items: start;
    gap: 2rem;
  }
  footer .social-media {
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  footer .social-media-images svg {
  }
  footer p,
  footer a {
    margin-bottom: 0.5rem;
  }
  footer .quebarbada {
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .quebarbada svg {
    margin-bottom: 1.75rem;
  }
  footer .developer {
    display: flex;
    flex-direction: column;
  }
  footer .legal,
  footer .quebarbada {
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .social-media,
  footer .developer {
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
/*============================================== WEB MEDIUM */
@media screen and (min-width: 1024px) {
  /*============================================ DISABLE TABLET */
  .mobile-content {
    display: none;
  }
  #depoimentos-section .tablet {
    display: none;
  }
  /*============================================ ENABLE WEB */
  .web-content {
    display: flex;
  }
  /*============================================ HEADER */
  .navigation_web {
    right: 0;
  }
  /*============================================ INÍCIO */
  #inicio {
    height: 100vh;
    min-height: 576px;
    max-height: 768px;
    padding: 0 1.5rem;
    padding-top: 5rem;
  }
  #inicio .section_content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
  #inicio h1.section_title {
    font-size: 3em;
    line-height: 3rem;
    text-align: start;
    padding: 0 0;
    width: 28rem;
    max-width: none;
    margin-bottom: 1rem;
  }
  #inicio p {
    font-size: 16px;
    line-height: 24px;
    width: 28rem;
    max-width: none;
  }
  #inicio .section_content .text {
    margin-left: 0;
    margin-right: 0;
    gap: 4rem;
  }
  #inicio #download-buttons-web img {
    width: 9rem;
    height: auto;
  }
  #download-buttons-web img {
    width: 7.2rem;
    height: auto;
  }
  #download-buttons-web {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  #inicio .section_content img {
    height: 400px;
    min-height: 0;
    width: auto;
  }
  #inicio .web-content {
    height: 100%;
  }
  #inicio .left-column,
  #inicio .right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    height: 100%;
    z-index: 0;
  }
  #inicio .left-column {
    margin-right: 6rem;
  }
  /*============================================ COMO ENCONTRAR */
  #como-encontrar-section {
    height: calc(100vh - 5rem);
    min-height: 496px;
    max-height: 688px;
    padding: 0 0;
  }
  #como-encontrar-section .section_content {
    height: calc(100% - 4rem);
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #como-encontrar-section img {
    height: 435px;
    min-height: 0;
  }
  #como-encontrar-section .swiper-slide {
    height: 435px;
    min-height: 0;
  }
  #como-encontrar-section .swiper_wrapper {
    height: calc(100% - 4rem);
    display: flex;
    position: relative;
    width: 18rem;
    justify-content: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 0;
  }
  #como-encontrar-section .web-content {
    height: 100%;
    align-items: center;
  }
  #como-encontrar-section .swiper {
    position: initial;
  }
  #como-encontrar-section .swiper-button-next,
  #como-encontrar-section .swiper-button-prev {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 1.5rem;
    width: 0.5rem;
  }
  #como-encontrar-section .swiper-button-next {
    right: 40.5rem;
    background-image: url('/images/swiper-right.svg');
  }
  #como-encontrar-section .swiper-button-prev {
    left: 40.5rem;
    background-image: url('/images/swiper-left.svg');
  }
  #como-encontrar-section .swiper-button-next::after,
  #como-encontrar-section .swiper-button-prev::after {
    display: none;
  }
  #como-encontrar-section p {
    text-align: end;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0;
    width: 24rem;
  }
  #como-encontrar-section h1 {
    font-size: 3em;
    line-height: 3rem;
    text-align: end;
    padding: 0 0;
    width: 25rem;
  }
  #como-encontrar-section .left-column,
  #como-encontrar-section .right-column {
    position: relative;
    z-index: 0;
  }
  #como-encontrar-section .right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 28rem;
    width: 24rem;
    gap: 2rem;
  }
  /*============================================== CUSTOMERS */
  #clientes-section {
    height: calc(100vh - 5rem);
    min-height: 496px;
    max-height: 688px;
    padding-bottom: 0;
  }
  #clientes-section .customer {
    padding-top: 34px;
    height: 190px;
    justify-content: flex-start;
  }
  #clientes-section .customer-image {
    width: 72px;
    height: 72px;
  }
  /*============================================== DEPOIMENTOS */
  #depoimentos-section {
    height: 425px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  #depoimentos-section .section_content_half {
    height: 100%;
  }
  #depoimentos-section .swiper_wrapper {
    width: 90%;
  }
  #depoimentos-section .swiper {
    padding: 0 0.4rem;
  }
  #depoimentos-section .swiper-pagination {
    bottom: 0;
  }
  #depoimentos-section .testimonial {
    margin: 3px 0.75rem;
  }
  #depoimentos-section .swiper-button-next {
    right: 0rem;
  }
  #depoimentos-section .swiper-button-prev {
    left: 0rem;
  }
  /*============================================== SEJA PARCEIRO */
  #seja-parceiro {
    margin: 0 4rem;
  }
  #seja-parceiro h1.title {
    margin-top: 8rem;
    width: auto;
  }
  #seja-parceiro h1.contact {
    width: auto;
  }
  #seja-parceiro h1 {
    font-size: 2.5em;
    margin-bottom: 2.5rem;
  }
  #seja-parceiro h2 {
    margin-bottom: 3rem;
    font-size: 1.5em;
  }
  #seja-parceiro p {
    width: 40rem;
    margin-bottom: 3rem;
    line-height: 2rem;
    font-size: 1.25em;
  }
  #seja-parceiro li {
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
    font-size: 1em;
    max-width: 40rem;
  }
  #seja-parceiro ul {
    margin-bottom: 3rem;
  }
  #seja-parceiro .telephone {
    margin-bottom: 3rem;
    gap: 0.5rem;
  }
  #seja-parceiro svg {
    height: 4rem;
  }
  #seja-parceiro span {
    font-size: 1.5em;
  }
  /*============================================== FOOTER */
  footer {
    padding: 0 4rem;
  }
  footer .footer-items {
    margin-right: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 3rem;
  }
  footer .social-media,
  footer .developer {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
/*============================================== WEB LARGE */
@media screen and (min-width: 1280px) {
  /*============================================ INÍCIO */
  #inicio {
    height: 100vh;
    min-height: 720px;
    max-height: 1024px;
    padding: 3rem 1.5rem;
    padding-top: 8rem;
  }
  #inicio h1.section_title {
    font-size: 3.75em;
    line-height: 3.75rem;
    padding: 0 0;
    width: 35rem;
    margin-bottom: 1.25rem;
  }
  #inicio p {
    font-size: 20px;
    line-height: 30px;
    width: 35rem;
  }
  #inicio .section_content .text {
    gap: 5rem;
  }
  #inicio #download-buttons-web img {
    width: 9rem;
  }
  #download-buttons-web {
    margin-top: 1.25rem;
    gap: 1.875rem;
  }
  #inicio .section_content img {
    height: 500px;
  }
  /*============================================ COMO ENCONTRAR */
  #como-encontrar-section {
    height: calc(100vh - 5rem);
    min-height: 640px;
    max-height: 944px;
  }
  #como-encontrar-section .section_content {
    height: calc(100% - 5rem);
  }
  #como-encontrar-section img {
    height: 544px;
  }
  #como-encontrar-section .swiper-slide {
    height: 544px;
  }
  #como-encontrar-section .swiper_wrapper {
    height: calc(100% - 5rem);
    width: 18rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }
  #como-encontrar-section .swiper-button-next,
  #como-encontrar-section .swiper-button-prev {
    height: 1.5rem;
    width: 0.5rem;
  }
  #como-encontrar-section .swiper-button-next {
    right: 50rem;
  }
  #como-encontrar-section .swiper-button-prev {
    left: 50rem;
  }
  #como-encontrar-section p {
    font-size: 20px;
    line-height: 30px;
    width: 30rem;
  }
  #como-encontrar-section h1 {
    font-size: 3.75em;
    line-height: 3.75rem;
    width: 31.25rem;
  }
  #como-encontrar-section .right-column {
    height: 35rem;
    width: 30rem;
    gap: 2.5rem;
  }
  /*============================================ CLIENTES */
  #clientes-section {
    height: 700px;
  }
  #clientes-section .tablet {
    display: none;
  }
  #clientes-section .web-large {
    display: inherit;
  }
  /*============================================ SEJA PARCEIRO */
  #seja-parceiro h1.title {
    margin-top: 10rem;
    width: auto;
  }
  #seja-parceiro h1.contact {
    width: auto;
  }
  #seja-parceiro h1 {
    font-size: 3em;
    margin-bottom: 3rem;
  }
  #seja-parceiro h2 {
    margin-bottom: 3rem;
    font-size: 2em;
  }
  #seja-parceiro p {
    width: 50rem;
    margin-bottom: 3rem;
    line-height: 2rem;
    font-size: 1.5em;
  }
  #seja-parceiro li {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25em;
    max-width: 40rem;
  }
  #seja-parceiro ul {
    margin-bottom: 3rem;
  }
  #seja-parceiro .telephone {
    margin-bottom: 3rem;
    gap: 0.5rem;
  }
  #seja-parceiro svg {
    height: 5rem;
  }
  #seja-parceiro span {
    font-size: 2em;
  }
}
@media screen and (min-width: 1500px) {
  #clientes-section .web-large {
    display: none;
  }
  #clientes-section .web-x-large {
    display: inherit;
  }
}
