/*================ RESET ================*/

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/*================ VARIABLES ================*/

:root {
  --brand-color-yellow: #ffca5e;
  --brand-color-purple: #5d4989;
  --brand-color-white: #ffffff;
  --brand-color-red: #d35555;
  --brand-color-light-purple: #8c75b9;
  --brand-color-extra-light-purple: #bda4ec;
  --brand-color-black: #1e1e1e;
}

/*================ GLOBAL ================*/

.box_shadow {
  box-shadow: 0 3px 3px #969696;
  mix-blend-mode: multiply;
}

.margin_top {
  height: 5rem;
}

.container {
  padding: 0 1.5rem;
  min-width: 350px;
}

/*================ HEADER ================*/

.header_wraper {
  width: 100%;
  position: fixed;
  min-width: 350px;
}
.header_main {
  display: flex;
  position: relative;
  height: 5rem;
  align-items: center;
  background-color: var(--brand-color-purple);
  z-index: 100;
}

#header_logo {
  width: auto;
  height: 2.5rem;
  cursor: pointer;
}

.header_main button {
  position: absolute;
  margin-right: 1.5rem;
  background-color: var(--brand-color-purple);
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  right: 0;
}

#menu_open {
  position: relative;
  width: 1.5rem;
  height: auto;
  right: 0;
}

#menu_close {
  position: relative;
  width: 1rem;
  height: auto;
  right: 0.25rem;
}

.header_content ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_content ul li {
  font-size: 1.25rem;
}

.navigation_1 {
  display: flex;
  height: 5rem;
  background-color: var(--brand-color-purple);
}

.navigation_2 {
  display: flex;
  height: 5rem;
  background-color: var(--brand-color-light-purple);
}

.navigation h1 {
  font-family: 'Signika', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  color: var(--brand-color-white);
  cursor: pointer;
}

@media screen and (min-width: 890px) {
  .header button {
    display: none;
  }
}

/*================ FILL CLASSES ================*/

.brand_yellow {
  fill: var(--brand-color-yellow);
}
.brand_purple {
  fill: var(--brand-color-purple);
}
.brand_white {
  fill: var(--brand-color-white);
}
.brand_red {
  fill: var(--brand-color-red);
}

.brand_black {
  fill: var(--brand-color-black);
}
